In [4]:
#import the modules
import os
import pandas as pd
#read the path
file_path = "C:\\Users\\Duhovit\\Desktop\\Calculos\\VOLUMEN_MODULOS"
#list all the files from the directory
csv_files = os.listdir(file_path)
csv_files

['VOL_MOD_1.csv',
 'VOL_MOD_10.csv',
 'VOL_MOD_11.csv',
 'VOL_MOD_12.csv',
 'VOL_MOD_2.csv',
 'VOL_MOD_3.csv',
 'VOL_MOD_4.csv',
 'VOL_MOD_5.csv',
 'VOL_MOD_6.csv',
 'VOL_MOD_7.csv',
 'VOL_MOD_8.csv',
 'VOL_MOD_9.csv']

In [8]:
df_concat = pd.concat([pd.read_csv(file_path+"\\"+f) for f in csv_files ], ignore_index=True)
df_concat

           id     valor  id_modulo            timestamp
0      208727  4.500000          1  2023-01-06 19:20:03
1      208664  4.500000          1  2023-01-06 19:10:03
2      208601  4.500000          1  2023-01-06 19:00:04
3      208538  4.500000          1  2023-01-06 18:50:04
4      208475  4.500000          1  2023-01-06 18:40:03
...       ...       ...        ...                  ...
11560   97411  5.779961          9  2022-12-14 22:30:03
11561   97364  5.779961          9  2022-12-14 22:20:03
11562   97317  5.779961          9  2022-12-14 22:10:04
11563   97270  5.779961          9  2022-12-14 22:00:04
11564   97223  6.039302          9  2022-12-14 21:50:04

[11565 rows x 4 columns]

In [9]:
## save concat csv
df_concat.to_csv('Combined_files.csv')